* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
}

::-webkit-scrollbar {
    width: 0;
}


.for_page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: 'Montserrat-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #C0C0C0;
    font-size: 14px;
    line-height: 20px;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

section, footer {
    padding: 100px 0;

    @media (max-width: 1199px) {
        padding: 80px 0;
    }
    
    @media (max-width: 991px) {
        padding: 60px 0;
    }
    
    @media (max-width: 767px) {
        padding: 40px 0;
    }
    
    @media (max-width: 470px) {
        padding: 30px 0;
    }
}

div.line {
    width: 42px;
    height: 8px;
    background: #E08631;
    margin: 0 auto;
    margin-bottom: 30px;
}

div.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #52503B;

    @media (max-width: 767px) {
        width: 45px;
        height: 45px;
    }
    
    @media (max-width: 470px) {
        width: 30px;
        height: 30px;
    }
}

// header
.header {
    background: #52503B;
    width: 100%;
    margin-bottom: 178px;

    @media (max-width: 991px) {
        margin-bottom: 70px;
    }

    @media (max-width: 360px) {
        margin-bottom: 45px;
    }

    .header_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0 17px;


        @media (max-width: 575px) {
            padding: 15px 15px 14px 15px;
        }

        .header_logo {
            min-width: 160px;
            a {
                text-decoration: none;
            }
        }

        .header_nav {
            .nav_menu .sub_menu {
                display: flex;
                list-style: none;
                justify-content: center;
                align-items: center;
                margin: 0;
                margin-right: 32px;
        
                @media (max-width: 991px) {
                    display: none;
                }
            
                .item_menu .link_item_menu{
                    text-decoration: none;
                    margin-right: 32px;
                    color: #FFFFFF;
                    font-size: 15px;
                    line-height: 20px;
                    transition: all 1s ease;
                    white-space: nowrap;

                    &:hover {
                        color: rgb(6, 151, 248);
                        transition: all 1s ease;
                    }
                }
            }
            
            .nav_menu .sub_menu .item_menu:last-child .link_item_menu {
                margin-right: 0px;
            }
        }

        a.header_link_btn {
            text-decoration: none;
            background: #FFFFFF;
            border-radius: 6px;
            padding: 11px 18px;
            font-size: 16px;
            line-height: 20px;
            color: #52503B;
            transition: 1s;

            &:hover {
                background: rgb(6, 151, 248);
                color: yellow;
                transition: 1s;
            }

            &:active {
                transition: .5s;
                background: yellow;
                color: rgb(6, 151, 248);
            }

            @media (max-width: 991px) {
                display: none;
            }
        }
    }
}

// welcome
.welcome {
    width: 100%;
    height: 810px;
    background: url(../img/main/welcome/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 0;

    @media (max-width: 1199px) {
        height: 760px;
    }

    @media (max-width: 991px) {
        height: 650px;
    }

    .welcome_wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .txt_wrapper {
            max-width: 1200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 113px;

            @media (max-width: 991px) {
                margin-bottom: 80px;
            }

            @media (max-width: 767px) {
                margin-bottom: 50px;
            }

            @media (max-width: 360px) {
                margin-bottom: 35px;
            }
            
            .img {
                margin-bottom: 37px;
            }
        
            h3 {
                font-size: 48px;
                line-height: 53px;
                text-align: center;
                color: #FFFFFF;
                margin-bottom: 34px;

                @media (max-width: 767px) {
                    font-size: 35px;
                    line-height: 45px;
                }

                @media (max-width: 380px) {
                    font-size: 28px;
                    line-height: 40px;
                }
            }
        
            p {
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #FFFFFF;
                margin: 0;
            }
        }
    
        a.welcome_link {
            text-decoration: none;
            display: block;
            margin: 0 auto;
            width: 60px;
        }
    }
}

// about_house
.about_house {
    background: #FAF8F0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .about_house_txt_wrapper {
        display: flex;
        justify-content: center;

        @media (max-width: 767px) {
            flex-direction: column;
        }

        .txt {
            display: flex;
            flex-direction: column;

            &:first-child {
                margin-right: 40px;

                p {
                    max-width: 360px;
                    font-size: 14px;

                    @media (max-width: 767px) {
                        margin-bottom: 10px;
                        max-width: 90%;
                    }
                }
            }

            p {
                max-width: 343px;
                font-size: 13px;
                line-height: 20px;
                color: #333333;
                margin: 0;

                @media (max-width: 767px) {
                    max-width: 90%;
                }
            }

            a {
                width: 107px;
                margin-top: 41px;
                text-decoration: none;
                background: #52503B;
                border: 1px solid #52503B;
                border-radius: 6px;
                padding: 11px 15px;
                font-size: 14px;
                line-height: 20px;
                color: #FFFFFF;
                transition: all .8s ease;

                &:hover {
                    transition: all .8s ease;
                    background: #FFFFFF;
                    color: #52503B;
                }
            }
        }
    }
}

// guest_house_txt
.guest_house_txt {
    h2 {
        font-family: 'Montserrat-Bold', sans-serif;
        font-size: 96px;
        line-height: 96px;
        text-align: center;
        color: #52503B;
        margin: 0;

        @media (max-width: 1199px) {
            font-size: 80px;
            line-height: 90px;
        }

        @media (max-width: 991px) {
            font-size: 66px;
            line-height: 80px;
        }

        @media (max-width: 767px) {
            font-size: 46px;
            line-height: 70px;
        }

        @media (max-width: 470px) {
            font-size: 37px;
            line-height: 50px;
        }

        @media (max-width: 376px) {
            font-size: 26px;
            line-height: 37px;
        }
    }
}

// guest_house_img
.guest_house_img {
    padding: 0;
    height: 600px;
    background: url(../img/main/gust_house/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @media (max-width: 1199px) {
        height: 500px;
    }

    @media (max-width: 991px) {
        height: 420px;
    }

    @media (max-width: 767px) {
        height: 340px;
    }

    @media (max-width: 565px) {
        height: 270px;
    }

    @media (max-width: 470px) {
        height: 210px;
    }
    
    @media (max-width: 360px) {
        height: 148px;
    }
}

.guest_house_img_2 {
    background: url(../img/main/gust_house/background_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

// guest_house_info
.guest_house_info {
    background: #FAF8F0;

    h4.title {
        font-size: 32px;
        line-height: 36px;
        text-align: center;
        color: #52503B;
        margin-bottom: 12px;
    }

    p.subtitle {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #52503B;
        max-width: 554px;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .description {
        display: flex;
        justify-content: space-between;

        @media (max-width: 991px) {
            flex-direction: column;
            align-items: center;
        }

        .item {
            max-width: 346px;
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (max-width: 991px) {
                margin-bottom: 40px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .img {
                width: 64px;
                height: 64px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 12px;
            }

            h5 {
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #52503B;
                margin: 0;            
            }

            p.description_txt {
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                color: #52503B;
                margin: 0;
            }
        }
    }
}

// advantage
.advantage {
    div.line {
        margin: 0;
        margin-bottom: 30px;
    }

    h4.title {
        font-size: 32px;
        line-height: 36px;
        color: #52503B;
        margin-bottom: 12px;
    }

    p.subtitle {
        font-size: 16px;
        line-height: 24px;
        color: #52503B;
        max-width: 554px;
        margin-bottom: 30px;
    }

    .advantage_wrapper {
        .item_wrapper {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 32px;

            &:last-child {
                margin-bottom: 0;
            }

            @media (max-width: 767px) {
                flex-direction: column;
                margin-bottom: 20px;
            }

            .item {
                display: flex;
                width: 48.5%;

                @media (max-width: 767px) {
                    width: 100%;
                    margin-bottom: 20px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                .img {
                    width: 36px;
                    height: 36px;
                    min-width: 36px;
                    min-height: 36px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 16px;

                    @media (max-width: 470px) {
                        width: 25px;
                        height: 25px;
                        min-width: 25px;
                        min-height: 25px;
                    }
                }

                .txt {
                    h5 {
                        font-size: 14px;
                        line-height: 20px;
                        color: #52503B;
                        margin: 0;
                    }

                    h6 {
                        font-size: 14px;
                        line-height: 20px;
                        color: #333333;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

// reviews
.reviews {
    background: #FAF8F0;

    h3.title {
        font-size: 32px;
        line-height: 36px;
        text-align: center;
        color: #52503B;
        margin-bottom: 12px;
    }

    p.subtitle {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #52503B;
        max-width: 572px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .item_wrapper {
        max-width: 584px;
        padding: 31px;
        background: #FFFFFF;
        border: 1px solid rgba(82, 80, 59, 0.1);
        box-sizing: border-box;
        border-radius: 4px;
        margin: 0 auto;

        .wrapper {
            .star {
                display: flex;
                margin-bottom: 10px;
            }

            h4.item_title {
                font-size: 18px;
                line-height: 24px;
                color: #333333;
                margin-bottom: 11px;

                @media (max-width: 360px) {
                    font-size: 14px;
                }
            }

            p.item_subtitle {
                max-width: 506px;
                font-size: 14px;
                line-height: 20px;
                color: #333333;
                margin-bottom: 19px;
                height: 98px;
                overflow: scroll;

                @media (max-width: 360px) {
                    font-size: 11px;
                }
            }

            .user {
                padding: 0 10px;
                border-left: 2px solid#E08631;

                p.user_name {
                    font-size: 14px;
                    line-height: 20px;
                    color: #333333;
                    margin: 0;
                }
            }
        }
    }

    .owl-nav {
        display: flex;
        justify-content: flex-end;
        padding-top: 10px;
        padding-right: 10px;

        @media (max-width: 470px) {
            padding-top: 0;
        }
    }

    .owl-theme .owl-nav [class*=owl-]:hover {
        background: #07fca698;
        border-radius: 50%;
        color: #FFF;
        text-decoration: none;
    }

    .owl-theme .owl-nav [class*=owl-]:active {
        background: #07fca6;
        border-radius: 50%;
        color: #FFF;
        text-decoration: none;
    }
}

// services
.services {
    .services_wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;

        @media (max-width: 767px) {
            flex-direction: column;
        }

        .item {
            width: 47%;

            @media (max-width: 767px) {
                width: 100%;
            }

            div.line {
                margin: 0;
                margin-bottom: 30px;
            }

            h3.title {
                font-size: 32px;
                line-height: 36px;
                color: #52503B;
                margin-bottom: 12px;
            }

            p.subtitle {
                font-size: 16px;
                line-height: 24px;
                color: #52503B;
                margin-bottom: 30px;
            }
        }

        .item_2 {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            @media (max-width: 1399px) {
                flex-direction: column;
            }

            .item_wrapper {
                display: flex;
                width: 260px;
                margin-bottom: 32px;

                @media (max-width: 1399px) {
                    margin-bottom: 25px;
                }

                &:nth-child(3) {
                    margin-bottom: 0;

                    @media (max-width: 1399px) {
                        margin-bottom: 25px;
                    }
                }

                &:nth-child(4) {
                    margin-bottom: 0;
                }

                .img {
                    width: 36px;
                    height: 36px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 16px;
                }

                p.item_txt {
                    font-size: 14px;
                    line-height: 20px;
                    color: #333333;
                    margin-bottom: 27px;
                }
            }
        }
    }
}

// booked
.booked {
    h3.title {
        max-width: 533px;
        font-size: 32px;
        line-height: 36px;
        text-align: center;
        color: #52503B;
        margin: 0 auto;
        margin-bottom: 14px;
    }

    p.subtitle {
        max-width: 533px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #52503B;
        margin: 0 auto;
        margin-bottom: 21px;
    }

    .btn_wrapper {
        width: 290px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto; 

        @media (max-width: 360px) {
            flex-direction: column;
            align-items: center;
        }

        .booked_btn {
            text-decoration: none;
            padding: 16px 26px;
            border: 4px solid #52503B;
            box-sizing: border-box;
            border-radius: 6px;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            color: #52503B;
            transition: all .8s ease; 

            &:hover {
                transition: all .8s ease;
                background: #52503B;
                color: #FFFFFF;
            }
        }

        .booked_btn_2 {
            background: #52503B;
            color: #FFFFFF;

            &:hover {
                transition: all .8s ease;
                background: #FFFFFF;
                color: #52503B;
            }

            @media (max-width: 360px) {
                margin-top: 20px;
            }
        }
    }
}

// footer
.footer {
    background: #52503B;

    .footer_wrapper {
        width: 100%;
        display: flex;
        margin-bottom: 47px;

        @media (max-width: 991px) {
            flex-direction: column;
        }

        .wrapper_left {
            width: 50%;
            display: flex;

            @media (max-width: 991px) {
                width: 100%;
            }

            .wrapper_nav {
                width: 50%;

                .footer_nav{
                    display: flex;
            
                    .list_item {
            
                        &:last-child {
                            margin: 0;
                        }
                
                        .list_item_txt {
                            margin-bottom: 11px;
            
                            p {
                                margin: 0;
                                font-size: 14px;
                                line-height: 20px;
                                letter-spacing: 2px;
                                text-transform: uppercase;
                                color: #FFFFFF;
                                }
                            }
                
                        .sub_menu {
                            padding-left: 0;
            
                
                            li {
                                list-style-type: none;
                                padding-left: 0;
                
                                a {
                                    display: inline-block;
                                    font-size: 14px;
                                    line-height: 20px;
                                    cursor: pointer;
                                    text-decoration: none;
                                    color: #FFFFFF;
                                    margin-bottom: 11px;
                                    transition: all 1s ease;
            
                                    &:hover {
                                        color: rgb(6, 151, 248);
                                        transition: all 1s ease;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .wrapper_social {
                width: 50%;

                p.social_title {
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    margin-bottom: 20px;
                }

                .social_link {
                    display: flex;
                    justify-content: space-between;
                    width: 136px;

                    a {
                        text-decoration: none;
                        transition: all 1s;

                        &:hover {
                            transition: all 1s;
                            transform: rotate(720deg);
                        }
                    }
                }
            }
        }

        .wrapper_right {
            width: 50%;

            @media (max-width: 991px) {
                width: 100%;
            }

            h4 {
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-bottom: 0;

                @media (max-width: 991px) {
                    margin-top: 30px;
                }
            }

            h5 {
                font-size: 14px;
                line-height: 20px;
                color: #FFFFFF;
                margin-bottom: 9px;

                @media (max-width: 991px) {
                    margin-bottom: 25px;
                }
            }

            .form {
                width: 100%;
                height: 52px;
                background: #F9FAFB;
                border: 1px solid #E5E7EB;
                box-sizing: border-box;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 7px 0 30px;

                .email {
                    width: 70%;
                    height: 80%;
                    border: none;
                    font-size: 14px;
                    line-height: 20px;
                    color: #52503B;

                    &::placeholder {
                        font-size: 14px;
                        line-height: 20px;
                        color: #52503B;
                    }
                }

                .footer_btn {
                    background: #52503B;
                    border-radius: 10px;
                    padding: 5px 4px 5px 5px;
                    font-size: 14px;
                    line-height: 20px;
                    color: #FFFFFF;
                    border: none;
                    transition: all .5s ease;

                    &:hover {
                        transition: all .5s ease;
                        background: #FFFFFF;
                        color: #52503B;
                        box-shadow: 0 0 16px #52503B;
                    }
                }
            }
        }
    }

    .footer_info_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .img {
            margin-bottom: 20px;
        }

        p {
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 20px;
        }

        .txt {
            display: flex;
            align-items: center;

            @media (max-width: 991px) {
                flex-direction: column;
            }

            a {
                text-decoration: none;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                color: #FFFFFF;
                transition: all 1s ease;

                &:hover {
                    transition: all 1s ease;
                    color: rgb(6, 151, 248);
                }
            }

            div.line_2 {
                width: 22px;
                height: 1px;
                background: #FFFFFF;
                margin: 0 10px;

                @media (max-width: 991px) {
                    margin: 25px 0;
                }
            }
        }
    }
}






// togle & side bar
.toggle {
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
    z-index: 1000;
    display: none;
    margin-bottom: 20px;
    position: relative;
    top: 25px;

    &::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        background: #FFFFFF;
        transform: translateY(-8px);
        transition: 0.5s;
    }

    &::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        background: #FFFFFF;
        transform: translateY(8px);
        transition: 0.5s;
        box-shadow: 0 -8px 0 #5a5a5a;
    }

    @media (max-width: 991px) {
        display: block;
    }

    // @media (max-width: 400px) {
    //     position: absolute;
    //     top: 33px;
    //     right: 20px;
    // }
}

.toggle.active {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    display: block;
    transition: all .8s ease;

    &::before {
        transform: translateY(0px) rotate(45deg);
        transition: 0.5s;
        background: #FFFFFF;
    }

    &::after {
        transform: translateY(0px) rotate(-45deg);
        transition: 0.5s;
        box-shadow: 0 0 0 #333;
        background: #FFFFFF;

        &:hover {
            transition: .5s;
            background: #FF4A32;
        }
    }
}

.sidebar {
    position: fixed;
    background: #181818;
    opacity: 0.95;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    padding: 40px;
    z-index: 100;
    right: -100%;
    width: 100vw;

    .active {
        right: 0;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media (max-width: 470px) {
            margin-top: 20px;
        }

        li {
            list-style: none;

            a {
                display: block;
                color: #fff;
                text-decoration: none;
                cursor: pointer;
                font-size: 18px;
                letter-spacing: 2px;
                text-transform: uppercase;
                transition: all .4s ease;
                margin-bottom: 15px;

                &:hover {
                    transition: all .4s ease;
                    color: #464342;
                }

                @media (max-width: 470px) {
                    font-size: 14px;
                }
            }
        }

        a.btn {
            text-decoration: none;
            background: #FFFFFF;
            border: 1px solid #FFFFFF;
            border-radius: 14px;
            display: block;
            padding: 11px 22px;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.4px;
            color: #000000;
            transition: 0.5s;

            &:hover {
                transition: 0.5s;
                color: #FFFFFF;
                background: #181818;
                box-shadow: 0 0 10px rgba(255, 255, 255, 0.466);
            }
        }
    }
}

.sidebar.active {
    right: 0;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
    border: 0;
}

